{% extends "products/layout.html" %}
{% block title %}Order summary{% endblock %}

{% block content %}

<section>
    <div class="row">
        <table class="table table-hover table-bordered text-center">
            <tr class="text-center">
                <th>no.</th>
                <th>Item</th>
                <th>Price</th>
            </tr>
            {% for item in order.get_cart_items %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>
                    {{ item.product.product_name}}
                    <span class="pull-right">
                        <a href="{% url 'shoppingcart:delete_item' item.id %}"
                        data-balloon="remove this item from cart" class="text-danger;">
                            <i class="fas fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    <td>{{ item.product.product_price}}</td>
                    </td>
                {% empty %}
                    <tr>
                        <td conspan=3> You have not added any items yet.</td>
                    </tr>
                {% endfor %}
                <tr>
                {% if order.get_cart_total != None %}
                <td colspan=2>
                    <strong class="pull-right">Order Total:</strong>
                    </td>

                    <td colspan=1>
                    R<strong>{{ order.get_cart_total }}</strong>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td colspan=1 >
                    <a href="{% url 'products:index' %}" class="btn btn-warning pull-left">
                        <!--{% if order %}Continue Shopping{% else %}Add Items to Cart-->
                        Continue Shopping
                        {% endif %}
                     </a>
                </td>
                <td colspan=2>
                    {% if order.get_cart_items %}
                        <a href="{% url 'shoppingcart:checkout' %}" 
                        class="pull-right btn btn-primary">Proceed to Checkout</a>
                    {% endif %}
                </td>
            </tr>
        </table>
     </div>
</section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}






