{% extends "products/layout.html" %}
{% block title %}Shopping Cart{% endblock %}

{% block content %}
<html>
    <head>
        <script src="store.js" async></script>
    </head>
    <div class="cart-items">
        <div class="cart-row">
            <div class="cart-item cart-column">
                <span class="cart-item-title">{{ product.product_name }}</span>
            </div>
            <span class="cart-price cart-column">{{ product.product_price }}</span>
            <div button class="btn btn-danger" type="button">Remove</button>
        </div>
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">