@charset "UTF-8";

body{
    background: salmon url("images/orange_wallpaper_credits.jpg");
}

.navbar{
    border-radius: 0;
    
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

/* Dropdown menu background color*/

.navbar-nav > li > .dropdown-menu {
    background-color: #e7e7e7;  
    color: #555555;  }
