<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Purrfect Webstore{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'> 
    <link href='https://fonts.google.com/?category=Handwriting,Monospace&thickness=6&selection.family=Marck+Script' rel='stysheet' type='text/css'> 
    <link rel="stylesheet" type="text/css" href="{% static 'products/style.css'  %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="store.js" async></script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            
            <!-- Header -->    
            <div class="navbar-header">
            <li class="dropdown">                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false" aria-controls="navbar"> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'products:index' %}">Purrfect Webstore</a>
            </div>

            <!-- Items 
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class= "nav navbar-nav">
                    <li class="">
                        <a href="{% url 'products:index' %}">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;
                            Categories
                        </a>
                    </li>
                </ul>
            -->
            
            <!-- Add Category -->
                <div class="collapse navbar-collapse" id="topNavBar"> 
                    <ul class= "nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{% url 'products:category-add' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                            Add Category
                        </a>
                    </li>
            <!-- Add Product   -->
                    <li class="">
                        <a href="{% url 'products:product-add' %}"> 
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                            Add Product
                        </a>
                    </li>
            <!-- Search -->
                    <form class="navbar-form navbar-left" role="search" method="GET" action="{% url 'products:search' %}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" value ="{{request.GET.q}}">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
            <!-- Admin Logout -->
                    <li class="">
                        <a href="{% url 'shoppingcart:store' %}">
                            <span class="glyphicon glyphicon-bag" aria-hidden="true"></span>&nbsp;
                            See Shopping Cart
                        </a>
                    </li>
        </div>
    </nav>
    
</head>
<header class="container center-align">
    <h1>Wow... That's Purrfect for You</h1>
<header>
<body>
    <div class="container">
    {% block content %}
    {% endblock %}
    <br>

    <a style="display:block" class="center-align" href="/admin">Admin Login</a>
    </div>
</body>
</html>